.nav {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    background-color: #ADBBDA;
    align-items: center;
}

.dropdown-container Select {
    font-weight: bold; /* Make header bold */
  }
  
.dropdown-container select option:hover {
    background-color: #f0f0f0; /* Light gray hover color */
    color: black; /* Optional: Change font color */
  }