.nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 2px;
    background-color: #3D52A0;
    align-items: center;
}

.nav .left {
    display: flex;
}

.nav .left .search {
    display: flex;
    margin-left: 40px;
}

.nav .left .search li a {
    color: #FDFDFF;
    text-decoration: none;
    font-size: 16px;
    padding: 3px 16px;
    display: block;
}

.nav .left .search li a:hover {
    color: #403732;  
}

.nav .right button {
    margin-left: 15px;
}